.contact-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.contact-form .contact-form,
.login-wrapper .btn-block {
  width: 100%;
}

.contact-wrapper {
  padding: 2em 4em;
  width: 75%;
}

mat-card {
  width: 100% !important;
  text-align: center !important;
  margin: 0 3em;
}

.aboutus-wrapper .mat-card-image {
  height: 150px;
  width: auto;
  margin: 0;
}

.entwickler_wrapper .mat-card-image {
  width: 50% !important;
  height: auto;
}

mat-card-header {
  width: 100% !important;
  text-align: center;
}

.mat-card-header-text {
  width: 100% !important;
}

mat-card-title, mat-card-subtitle {
  width: 100%;
  text-align: center;
}
.btn{
  position: relative;
  display: block;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: auto;
  border: 2px solid #03A9F4;
  /*padding: 14px 60px;*/
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  /*margin-left: 37em;
  margin-right: 37em;*/
  min-width: 75%;
  max-width: 400px;
  max-height: 75%;
  min-height: 75%;
}

.btn::before{
  background: #03A9F4;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 0;
  height: 100%;
}

.btn:hover::before{
  width: 100%;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
