<div class="body-wrap">
  <div class="aboutus-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <h1>About Us</h1>

    <h2>Services</h2>

    <mat-grid-list cols="3">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Bitcoin</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../assets/images/bitcoin-225078.svg">
          <mat-card-content>
            <p>
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Finanzgurus</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../assets/images/avatar-1299805.svg">
          <mat-card-content>
            <p>
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Prognosen</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../assets/images/chart-line-148256.svg">
          <mat-card-content>
            <p>
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>
    </mat-grid-list>

    <div class="entwickler_wrapper">
      <h2>Entwickler</h2>
      <mat-grid-list cols="3">
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Jonas Wuttke</mat-card-title>
              <mat-card-subtitle>Business & Design</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/images/avatar-3637425.svg">
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Bastian Berle</mat-card-title>
              <mat-card-subtitle>Business & Frontend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/images/avatar-3637425.svg">
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Ron Holzapfel</mat-card-title>
              <mat-card-subtitle>Backend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/images/avatar-3637425.svg">
          </mat-card>
        </mat-grid-tile>
      <!-- </mat-grid-list>

      <mat-grid-list cols="3"> -->
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Ferdinand Muth</mat-card-title>
              <mat-card-subtitle>Backend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/images/avatar-3637425.svg">
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Tomke Blach</mat-card-title>
              <mat-card-subtitle>Frontend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/images/avatar-3637425.svg">
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Fabian Heidger</mat-card-title>
              <mat-card-subtitle>Frontend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/images/avatar-3637425.svg">
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>



    <h2>Contact Us</h2>

    <!-- <div class="contact-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <form  (submit)="submit()" autocomplete="off" novalidate class="contact-form">
        <!-- <mat-grid-list cols="2"> -->
          <!-- <mat-grid-tile> -->
          <!-- <mat-card-content>
            <mat-form-field appearance="outline" class="contact-full-width">
                <mat-label i18n="">Name</mat-label>
                <input fxFlex="25" matInput formControlName="name" required> -->
                <!-- <mat-error *ngIf="signupForm.controls.firstName.invalid">
                    <span *ngIf="signupForm.controls.firstName.hasError('required')" i18n="This field is mandatory. @@field_mandatory">This field is mandatory.</span>
                </mat-error> -->
            <!-- </mat-form-field>

            <mat-form-field appearance="outline" class="contact-full-width">
                <mat-label i18n="">Email</mat-label>
                <input fxFlex="25" matInput formControlName="mail" required>
                <mat-icon matSuffix>email</mat-icon> -->
                <!-- <mat-error *ngIf="signupForm.controls.firstName.invalid">
                    <span *ngIf="signupForm.controls.firstName.hasError('required')" i18n="This field is mandatory. @@field_mandatory">This field is mandatory.</span>
                </mat-error> -->
            <!-- </mat-form-field> -->
          <!-- </mat-grid-tile> -->

          <!-- <mat-grid-tile> -->
            <!-- <mat-form-field appearance="outline" class="contact-full-width">
                <mat-label i18n="">Message</mat-label>
                <input fxFlex="25" matInput formControlName="messaage" required> -->
                <!-- <mat-error *ngIf="signupForm.controls.firstName.invalid">
                    <span *ngIf="signupForm.controls.firstName.hasError('required')" i18n="This field is mandatory. @@field_mandatory">This field is mandatory.</span>
                </mat-error> -->
            <!-- </mat-form-field> -->
          <!-- </mat-grid-tile> -->
        <!-- </mat-grid-list> -->
        <!-- </mat-card-content>
      </form>
    </div> -->

  </div>
</div>
