.aboutus-wrapper .mat-card-image {
  height: 150px;
  width: auto;
  margin: 0;
}

.entwickler_wrapper .mat-card-image {
  width: 50% !important;
  height: auto;
}

mat-card-header, mat-carf-title, mat-card-subtitle, mat-card {
  text-align: center;
}