<p>
  <mat-toolbar color="primary">
    <span>Your Price Predictor</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person_outline</mat-icon>
        <span>Log In</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
