# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/frontend/node_modules
API/.vscode/settings.json

#cached python files
API/__pycache__/*

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
frontend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
frontend/package-lock.json
API/pylib/__pycache__/__init__.cpython-38.pyc
API/pylib/__pycache__/functions.cpython-38.pyc
API/tmp/database.db
API/tmp/database.db
API/pylib/test.py
API/pylib/test.py
