
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <form class="login-form">
      <mat-card-content>


        <mat-form-field appearance="outline" class="login-full-width" >
          <mat-label>Your Email</mat-label>
          <input  fxFlex="50" matInput placeholder="example@domain.com" [formControl]="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>



        <mat-form-field  class="login-full-width"  fxFlexFill appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  [formControl]="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{getErrorMessagePW()}}</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button  mat-stroked-button  (click)="submit()" color="primary" class="btn-block">Log In</button>
    </form>


</div>