
<div class="loginForm">
  <mat-form-field appearance="outline" style="width:50vw">
    <mat-label>Your Email</mat-label>
    <input matInput placeholder="example@domain.com" [formControl]="email" required>
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline" style="width:50vw">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

</div>


<p>login works!</p>
<a routerLink="/auth/signup">Jetzt registrieren</a>