<div class="signup-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="signupForm" (submit)="submit()" autocomplete="off" novalidate class="signup-form">
        <mat-card-content>

            <mat-form-field appearance="outline" class="signup-full-width">
                <mat-label>First Name</mat-label>
                <input fxFlex="25" matInput formControlName="firstName" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="signup-full-width">
                <mat-label>Last Name</mat-label>
                <input fxFlex="50" matInput formControlName="lastName" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="signup-full-width">
                <mat-label>Username</mat-label>
                <input fxFlex="25" matInput formControlName="username" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="signup-full-width">
                <mat-label>Your Email</mat-label>
                <input fxFlex="50" matInput formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="signup-full-width" fxFlexFill appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="signup-full-width" fxFlexFill appearance="outline">
                <mat-label>Repeat your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="repeatedPassword" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>


            <button mat-stroked-button color="primary" class="signup-full-width">Sign Up</button>

        </mat-card-content>
    </form>
</div>