.blog-post-card {
    margin: 8px;
}

.card-title {
  height: 20px;
  overflow-y: hidden;
}

.card-content {
  height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.link {
  color: grey;
  text-decoration: none;
}

.link:hover {
  color: black;
}