<div style="width: 100%; height: calc(100% - 64px);">
    <div fxLayout="row wrap" fxLayoutAlign="space-around start" >
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let post of posts">
            <mat-card class="mat-elevation-z4" style="margin: 8px;">
                <mat-card-header>
                    <!-- <div mat-card-avatar>
                        <mat-icon>face</mat-icon>
                    </div> -->
                    <mat-card-title>{{ post.title }}</mat-card-title>
                    <mat-card-subtitle>{{ post.author }} - {{ post.date | date }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="shorten-long-text">
                        {{ post.content }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>