<div *ngIf="this.isLoading; then isLoadingBlock else isNotLoadingBlock"></div>
<ng-template #isLoadingBlock>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #isNotLoadingBlock>
  <h1 mat-dialog-title>{{ post.title }}</h1>
  <h3 mat-dialog-title>{{ post.author }} - {{ post.date | date }}</h3>
  <mat-dialog-content class="mat-typography">
    <span>{{ post.content }}</span>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>