<div *ngIf="this.isLoading; then isLoadingBlock else isNotLoadingBlock"></div>
<ng-template #isLoadingBlock>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #isNotLoadingBlock>
  <h1 mat-dialog-title>{{ post.title }}</h1>
  <h3 mat-dialog-title><a [routerLink]="['/profile', post.author]" class="link">{{ post.author }}</a> - {{ post.date | date }}</h3>
  <mat-dialog-content style="max-height: 300px;">
    <span>{{ post.content }}</span>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-stroked-button color="accent" i18n="Close@@closeID" mat-dialog-close>Close</button>
  </div>
</ng-template>