<mat-sidenav-container class="sidenav-container mat-app-background"
  [ngClass]="{ 'dark-theme-mode': this.themesService.getIsDarkTheme() }">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="" i18n="An test for the language @@testID"> Language Test </a>
      <a mat-list-item href="">Link 2</a>
      <a mat-list-item href="">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Price Predictor</span>
      <span class="spacer"></span>
      <button mat-icon-button matTooltip="Switch theme" (click)="this.themesService.toggleTheme()">
        <mat-icon>{{ themesService.getIsDarkTheme() ? 'brightness_2' : 'brightness_7' }}</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="translationMenu">
        <mat-icon>translate</mat-icon>
      </button>
      <mat-menu #translationMenu="matMenu" color="secondary">
        <a mat-menu-item *ngFor="let lang of langs" href="/{{lang.code}}" color="primary">{{ lang.label }}</a>
      </mat-menu>


      <div *ngIf="this.isLoggedIn; then loggedInBlock else notLoggedInBlock"></div>
      <ng-template #loggedInBlock>
        <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>face</mat-icon>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button (click)="authService.logout()" mat-menu-item routerLink="/">
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-template>
      <ng-template #notLoggedInBlock>
        <button mat-icon-button routerLink="/auth">
          <mat-icon>person</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>