.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999;
}

.spacer {
    flex: 1 1 auto;
}

.nav-button {
    margin-left: 8px;
}

.search-full-width {
    width: 100% !important;
}

.no-data {
    pointer-events: none;
}

.logo-image{
  width: 150px;
  height: auto;
  overflow: hidden;
  margin-top: 5%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.with-icon {
    display: flex;
    align-items: center;
}