.mat-stepper-horizontal {
    margin-top: 8px;
    margin-bottom: 60px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.currencies>mat-form-field {
    padding: 5px;
}

.currencies {
    display: block;
}

.header-trade {
    font-weight: 900;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;
}

.stepper-buttons {
    justify-content: flex-end;
    display: flex;
}

.mat-slider-horizontal {
    width: 100%;
}

#field1 {
    float: left;
}

#field2 {
    float: right;
}

.full-width {
    width: 100%;
    max-width: 1300px;
}

.half-width {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    width: 45%;
}