body, html {
  height: 100%;
  margin: 0;
}

.landing_bg {
  background-image: url("/assets/images/earth-1149733.jpg");
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  color: white;
}

h1 {
  font-size: 3.5em !important;
  line-height: 1.5em;
}

.landing-full-width {
  display: block;
  margin: auto;
  width: 75%;
}

.landing-banner-button {
  background-color: primary;
  display: block;
  margin: auto;
  padding: 0.5em 3em;
}