<div class="body-wrap" [ngClass]="{ 'dark-theme-mode': this.themesService.getIsDarkTheme() }">
  <div class="landing-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <h1>Welcome to Cointogether</h1>

    <mat-grid-list cols="4">
      <mat-grid-tile>
        <button mat-stroked-button class="landing-full-width" routerLink="/"> Home </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-stroked-button class="landing-full-width" routerLink="/blog/feed"> Blog </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-stroked-button class="landing-full-width" routerLink="/about/us"> About Us </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-stroked-button class="landing-full-width" routerLink="/"> Wallet </button>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="landing-blue-banner">
      <h2>Start your Journey today!</h2>
      <button mat-stroked-button class="landing-banner-button" routerLink="/auth"> Sign Up </button>
    </div>

  </div>
</div>
