body, html {
  height: 100%;
  margin: 0;
}

.landing_bg {
  background-image: url("/assets/images/earth-1149733.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  color: white;
  padding-bottom: 10%;
}

h1 {
  font-size: 3.5em !important;
}

.landing-full-width {
  width: 75%;
}

mat-grid-tile {
  margin: 0 2em;
}

.landing-banner-button {
  background-color: primary;
  display: block;
  margin: auto;
  padding: 0.5em 3em;
}