<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <form [formGroup]="loginForm" (submit)="submit()" autocomplete="off" novalidate class="login-form">
        <mat-card-content>
            <mat-form-field appearance="outline" class="login-full-width">
                <mat-label i18n="Your email@@enter_email">Your Email</mat-label>
                <input fxFlex="50" matInput placeholder="example@domain.com" formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="loginForm.controls.email.invalid">
                    <span *ngIf="loginForm.controls.email.hasError('required')" i18n="This field is mandatory.@@field_mandatory">This field is mandatory.</span>
                    <span *ngIf="loginForm.controls.email.hasError('pattern')" i18n="This field is invalid.@@field_invalid">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="login-full-width" fxFlexFill appearance="outline">
                <mat-label i18n="Your password@@enter_password">Your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" id="password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.controls.password.invalid">
                    <span *ngIf="loginForm.controls.password.hasError('required')" i18n="This field is mandatory.@@field_mandatory">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-stroked-button class="login-full-width" *ngIf="loginForm.valid" i18n="Log In@@log_in">Log In</button>
            <button type="submit" mat-stroked-button class="login-full-width" *ngIf="!loginForm.valid" i18n="Log In@@log_in" disabled>Log In</button>
        </mat-card-content>
    </form>
</div>