.with-icon {
    display: flex;
    align-items: center;
}

.card-title {
    height: 20px;
    overflow-y: hidden;
}

.card-content {
    height: 100px;
    overflow-y: auto;
    text-overflow: ellipsis;
}