<mat-card class="mat-elevation-z4" style="margin: 8px;">
    <mat-card-header>
        <mat-card-title i18n="Expected increase @@expectedIncreaseID">
            {{ trade.expectedIncrease }}% Increase
        </mat-card-title>
        <mat-card-subtitle>
            {{ trade.author }} - {{ trade.date | date }} <br>
            <mat-chip-list>
                <mat-chip color="accent" selected>TRADE</mat-chip>
                <mat-chip color="accent" selected>{{ trade.type | uppercase }}</mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <span class="with-icon" style="white-space: pre;">
            <mat-icon>date_range</mat-icon> {{ trade.startdate | date }} - {{ trade.enddate | date }}
        </span>

        <span class="with-icon" style="white-space: pre;">
            <mat-icon>emoji_objects</mat-icon> {{trade.percent}}% 
            <div *ngIf="trade.type == 'sell'; else buyBlock" class="with-icon">
                {{ trade.cryptocurrency }}
                <mat-icon>east</mat-icon>
                {{ trade.fiatcurrency }}
            </div>
            <ng-template #buyBlock>
                {{ trade.fiatcurrency }}
                <mat-icon>east</mat-icon>
                {{ trade.cryptocurrency }}
            </ng-template>
        </span>
    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button color="accent" (click)="openDialog()">View</button>
    </mat-card-actions>
</mat-card>